<section id = "about">




<h2>About me</h2>
<p>
  Yehong(leo) You  <br>
  email: youyehong@gmail.com
</p>
<h4>Key Features</h4>
<p>
  * Responsive web application.<br>
  * Users can sign up and sign in.<br>
  * Users can post, search, edit and delete their seeking home messages and personal properties information.<br>
  * Users can search other people' messages and properties based on suburb, purpose and gender.<br>
  * Users can edit their own personal information in their own account.<br>
  * Owner and managers can manage users' authority and information by accessing the users management systems.<br>
</p>











<img src="/media/image/home.png" alt="">
</section>
