<h1>hello world i am about </h1>
<form action="/upload" method="post" enctype="multipart/form-data">
  <label class="control-label">Select File</label>
  <input id="input-1" type="file" class="file" name='image'>
  <button>upload</button>
</form>


<img src="<%= Image.last.image_url.url %>" alt="">
