



<section id="index_body">


<h3>Welcome to Happy Home</h3>

<form action="/properties">
<button class="index_button1">Find My Home !</button>
</form>

<form action="/messages">
<button class="index_button2">Find My Tenants !</button>
</form>
