
<h1>new message form</h1>

<h2>Write your message information here !</h2>
<form class="" action="/messages" method="post">
    <p>
    <label for="">1. Where you want to live, please enter the suburb name:</label>
    <input type="text" name="input_suburb" value="">
    </p>

    <h4><label for="input_requirement">2. Do you have any requirement for you future home? </label></h4>
    <textarea name="input_requirement" rows="8" cols="40" alue="NO requirement" placeholder="No requirement"></textarea>

    <div>
    <button>Post</button>
    </div>
</form>
