<h1>new property form</h1>

<h2>Write your property information here !</h2>
<form class="" action="/properties" method="post">

    <label for="">1. what kind of your property:</label><br/>
    <select class="" name="input_kind">
        <option value="House">House</option>
        <option value="Town House">TownHose</option>
        <option value="Apartment">Apartment</option>
        <option value="Unit">Unit</option>
    </select><br/>

    <label for="">2. what is the address of your property?</label><br/>
    <input type="text" name="input_address" value=""><br/>

    <label for="">3. what is the suburb?</label><br/>
    <input type="text" name="input_suburb" value=""><br/>

    <label for="">4. How much for rent?</label><br/>
    <input type="text" name="input_rent" value=""><span>(dollars) Per week</span><br/>

    <label for="">5. Please give some description for your property.</label><br/>
    <textarea name="input_description" rows="8" cols="40"></textarea><br/>

    <label for="">6. Do you want</label><br/>
    <select class="" name="property_purpose_id">
     <% @property_purposes.each do |property_purpose|%>
      <option value="<%=property_purpose.id%>"><%=property_purpose.name%></option>
     <%end%>
    </select><br/>

    <div>
    <button>Post It</button>
    </div>
</form>
