
<form class="" action="/register/new" method="post">
     <label for="">1. Your email address:</label><br/>
     <input type="email" name="input_email" id="inputEmail" class="form-control" placeholder="<%=@note%>" required autofocus><br/>
     <label for="">2. Set your password</label><br/>
     <input type="password" name="input_password" id="inputPassword" class="form-control" placeholder="Password" required><br/>
     <label for="">3. Please tell me your full name or nick name</label><br/>
     <input type="text" name="input_name" required><br/>
     <label for="">4. Your gender?</label><br/>
     <select class="" name="input_gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
     </select><br/>
     <label for="">5. Your contact phone no ?</label><br/>
     <input type="text" name="input_phone" required><br/>
     <label for="">6. What is your occupation?</label><br/>
     <input type="text" name="input_occupation" value="no"><br/>
    <button>Submit</button>
</form>
